{% extends 'base.html.twig' %}

{% block body %}
<h1 id="realisations">Mes réalisations</h1>
<div class="row">
    <div class="col-md-12">
        <div class="text">
                Au cours de ma formation, j'ai eu l'occasion de réaliser plusieurs sites en utilisant différents
                langages de programmation, vous trouverez sur cette page, mes différentes réalisations.
        </div>
    </div>
</div>
<div class="text-realisations">
<hr />
<div class="row">
    <div class="col-md-4"><h3>Web Agency</h3><img id="P1" src="{{ asset('public/img/realisations/integration_web.png') }}" alt="PhotoArnaudBesnard" /></div>
    <div class="col-md-4"><h3>Office du tourisme Strasbourg</h3><img id="P1" src="{{ asset('public/img/realisations/projet_wordpress.png') }}" alt="PhotoArnaudBesnard" /></div>
    <div class="col-md-4"><h3>Vélo V - Location de vélos</h3><img id="P1" src="{{ asset('public/img/realisations/location_velo.png') }}" alt="PhotoArnaudBesnard" /></div>
</div>
<hr />
<div class="row">
    <div class="col-md-4"><h3>Jean Forteroche - Ecrivain</h3><img id="P1" src="{{ asset('public/img/realisations/blog_ecrivain.png') }}" alt="PhotoArnaudBesnard" /></div>
    <div class="col-md-4"><h3>Annonces sportives - AnnonceSport.fr</h3><img id="P1" src="{{ asset('public/img/realisations/annoncesport.png') }}" alt="PhotoArnaudBesnard" /></div>
</div>
</div>
{% endblock %}