{% extends 'base.html.twig' %}

{% block body %}
<h1 id="realisations">Mes réalisations</h1>
<div class="prestations">
Au cours de ma formation, j'ai eu l'occasion de réaliser plusieurs sites en utilisant différents langages de programmation, vous trouverez sur cette page, mes différentes réalisations.
</div>
<div class="text">

</div>
<div class="text-realisations">
<img id="logos_technos" src="{{ asset('public/img/logos_navigateurs.png') }}" loading="lazy" alt="technologies_utilisees" />
    <hr />
    <div class="row">
        <div class="col-md-4"><h3>Projet d'étude - <a href="http://projet1.arnaudbesnard.fr" target="blank">Web Agency</a></h3><img id="P1" src="{{ asset('public/img/realisations/integration_web.png') }}" loading="lazy" alt="PhotoArnaudBesnard" /></div>
        <div class="col-md-4"><h3>Projet d'étude - <a href="http://projet2.arnaudbesnard.fr" target="blank">Office du tourisme Strasbourg</a></h3><img id="P1" src="{{ asset('public/img/realisations/projet_wordpress.png') }}" loading="lazy" alt="PhotoArnaudBesnard" /></div>
        <div class="col-md-4"><h3>Projet d'étude - <a href="http://projet3.arnaudbesnard.fr" target="blank">Vélo V - Location de vélos</a></h3><img id="P1" src="{{ asset('public/img/realisations/location_velo.png') }}" loading="lazy" alt="PhotoArnaudBesnard" /></div>
    </div>
    <hr />
<div class="row">
    <div class="col-md-4"><h3>Projet d'étude - <a href="http://projet4.arnaudbesnard.fr" target="blank">Jean Forteroche - Ecrivain</a></h3><img id="P1" src="{{ asset('public/img/realisations/blog_ecrivain.png') }}" loading="lazy" alt="PhotoArnaudBesnard" /></div>
    <div class="col-md-4"><h3>Projet d'étude - Annonces sportives - <a href="https://www.annoncesport.fr" target="blank">AnnonceSport.fr</a></h3><img id="P1" src="{{ asset('public/img/realisations/annoncesport.png') }}" loading="lazy" alt="PhotoArnaudBesnard" /></div>
    <div class="col-md-4"><h3>Site vitrine - Reflexologie</h3></div>
</div>
    <hr />
<div class="row">
    <div class="col-md-4"><h3>Mon portfolio - <a href="http://www.arnaudbesnard.fr" target="blank">Arnaudbesnard.fr</a></h3><img id="P1" src="{{ asset('public/img/realisations/portfolio.png') }}"  alt="PhotoArnaudBesnard" /></div>
</div>
</div>
{% endblock %}